.hero{
    background-image: url(../images/hero2.svg);
    background-repeat: no-repeat;
    background-size: 75% ;
    background-position: center;
    /* background-attachment: fixed; */
}
.hero__container{
    padding: 100px 0px;
}
.hero__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.hero__item{
    text-align: center;    
}
.hero__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.hero__text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 255px;
}
@media screen and (max-width:750px) {
    .hero__list{
        row-gap: 50px;
    }
}