.main{
    background-image: url(../images/main1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__container{
    position: relative;
    padding: 100px 10px 280px 10px;
}
.main__title{
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: rgba(254, 252, 247, 1);
}
.main__text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(254, 252, 247, 1);
    max-width: 540px;
    margin: 32px auto;
}
.main__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    padding: 20px;
}
.main__item{
    max-width: 100%;
    width: 350px;
    height: 382px;
    max-height: auto;
    background-color: rgba(14, 135, 132, 1);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}
.main__img{
    max-width: 100%;
    width: 70px;
    height: 70px;
    margin: 20px auto;
}
.main__subtitle{
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: rgba(254, 252, 247, 1);       
}
.main__subtext{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(254, 252, 247, 1);
    max-width: 255px;
    margin: 20px auto;
}

@media screen and (max-width:900px) {
    .main__item{
        height: 330px;
    }
    .main__subtext{
        font-size: 14px;
    }
    .main__subtitle{
        font-size: 20px;
    }
    .main__img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:700px) {
    .main__container{
        padding-bottom: 650px;
    }
    .main__list{
        flex-wrap: wrap;
        /* flex-direction: column; */
        top: 30%;
    }
    .main__item{
        width: 250px;
        height: 270px;
    }
}
@media screen and (max-width:570px) {
    .main__container{
        padding-bottom: 980px;
    }
    .main__list{
        top: 25%;
    }
}