.section{
    padding-top: 200px;
}
.section__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:  rgba(131, 136, 143, 1);
    padding: 40px 0;
}
hr{
    max-width: 100%;
    width: 760px;
    height: 2px;
    border-radius: 2px;    
    background-color: rgba(253, 214, 186, 1);
}
.section__box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 60px;
    padding: 40px 10px;
}
.boxs{
    border: 1px solid rgba(253, 214, 186, 1);
    border-radius: 6px;
    padding: 40px 20px;
}
.section__number{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: rgba(253, 214, 186, 1);
}
.section__subtitle{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: rgba(51, 61, 75, 1);
    padding: 38px 0 42px 0;
}
.section__text{
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 285px;
    color: rgba(51, 61, 75, 1);
}
.section__btn{
    padding: 14px 32px;
    color: rgba(254, 252, 247, 1);
    background-color:rgba(14, 135, 132, 1) ;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid rgba(14, 135, 132, 1);
    border-radius: 6px;
    margin: 60px 0 60px 60px;
}
.section__btn:hover{
    background-color: rgba(254, 252, 247, 1);
    color: rgba(14, 135, 132, 1);
    transition: all 0.7s ease;
}
@media screen and (max-width:635px) {
    .section__subtitle{
        padding: 25px 0;
    }
    .section__btn{
        margin: 40px auto;
        display: flex;
        padding: 10px 20px;
        font-size: 16px;
    }
}